.container {
    display: flex;
    width: 1280px;
    height: 1280px;
    /*align-items: center;*/
    padding: 10px;
    background-color: #efefef;
    /*justify-content: center;*/
}

.flex_item {
    display: flex;
    /*flex-basis: 70px;*/
    /*text-align: center;
    padding: 15px;
    font-size: 30px;*/
    /*justify-content: center;*/

    /*align-items: flex-start;*/
    flex: 1 1 auto;
}
.one {
order: 1;
    align-self: center;
    justify-content: flex-end;
    background: green;
    width: 100px;
    margin: 40px;
}
.two {

    background: green;
    width: 100px;
    margin: 40px;
}
.three {

    background: green;
    width: 100px;
    margin: 40px;
}
.four {

    background:pink ;
}
.five {

    background: red;
    height: 400px;
    order: -3;
}
.six {

    background: yellow;
    align-self: flex-start;
    flex-basis: 33.3%;
    min-height: 100%;
    border: 2px solid black;
    

}